# SQLGlot-Based Database Object Migration

This notebook demonstrates using SQLGlot for parsing and transforming database objects instead of LLMs.
SQLGlot provides programmatic SQL parsing, transformation, and generation capabilities.

## Key Benefits of SQLGlot Approach:
- **Deterministic**: No LLM variability or hallucinations
- **Fast**: Pure Python parsing without API calls
- **Precise**: Exact SQL dialect transformations
- **Customizable**: Easy to extend with custom transformation rules
- **Reliable**: No token limits or API rate limits

In [97]:
# Install required packages if not already installed
# !pip install -r requirements.txt

import sqlglot
import json
import os
from typing import Dict, List, Any
from pathlib import Path
import pandas as pd

## 1. Setup and Configuration

Configure the source and target dialects for migration.

In [98]:
# Configuration
SOURCE_DIALECT = "snowflake"
TARGET_DIALECT = "databricks"

# Path to example data
EXAMPLE_DATA_PATH = "../translation_graph/tests/integration/example_data"

print(f"Migrating from {SOURCE_DIALECT} to {TARGET_DIALECT}")
print(f"Example data path: {EXAMPLE_DATA_PATH}")

Migrating from snowflake to databricks
Example data path: ../translation_graph/tests/integration/example_data

## 2. Utility Functions

Helper functions for loading data and SQL transformations.

In [99]:
def load_json_file(file_path: str) -> Dict[str, Any]:
    """Load JSON data from file."""
    with open(file_path, 'r') as f:
        return json.load(f)

def transform_sql(sql: str, source_dialect: str = SOURCE_DIALECT, target_dialect: str = TARGET_DIALECT) -> str:
    """Transform SQL from source dialect to target dialect using SQLGlot."""
    try:
        # Parse and transform the SQL
        transformed = sqlglot.transpile(sql, read=source_dialect, write=target_dialect)[0]
        return transformed
    except Exception as e:
        return f"-- Error transforming SQL: {str(e)}\n-- Original: {sql}"

def generate_table_ddl(table_metadata: Dict[str, Any]) -> str:
    """Generate CREATE TABLE DDL from table metadata."""
    
    # Build column definitions
    columns = []
    for col in table_metadata['columns']:
        col_def = f"  {col['column_name']} {col['data_type']}"
        
        # Add length/precision for applicable types
        if col['data_type'] == 'VARCHAR' and col['character_maximum_length']:
            col_def += f"({col['character_maximum_length']})"
        elif col['data_type'] == 'NUMBER' and col['numeric_precision']:
            if col['numeric_scale'] and col['numeric_scale'] > 0:
                col_def += f"({col['numeric_precision']}, {col['numeric_scale']})"
            else:
                col_def += f"({col['numeric_precision']})"
        
        # Add NULL/NOT NULL
        if col['is_nullable'] == 'NO':
            col_def += " NOT NULL"
        else:
            col_def += " NULL"
        
        # Add default value
        if col['column_default']:
            col_def += f" DEFAULT {col['column_default']}"
        
        # Add comment
        if col['comment']:
            col_def += f" COMMENT '{col['comment']}'"
        
        columns.append(col_def)
    
    # Build CREATE TABLE statement
    table_name = f"{table_metadata['database_name']}.{table_metadata['schema_name']}.{table_metadata['table_name']}"
    ddl = f"CREATE TABLE IF NOT EXISTS {table_name} (\n"
    ddl += ",\n".join(columns)
    ddl += "\n)"
    
    # Add table comment
    if table_metadata['comment']:
        ddl += f" COMMENT '{table_metadata['comment']}'"
    
    ddl += ";;"
    
    return ddl

def generate_view_ddl(view_metadata: Dict[str, Any]) -> str:
    """Generate CREATE VIEW DDL from view metadata."""
    
    view_name = f"{view_metadata['database_name']}.{view_metadata['schema_name']}.{view_metadata['view_name']}"
    
    # Transform the view definition SQL
    transformed_sql = transform_sql(view_metadata['view_definition'])
    
    # Generate CREATE VIEW statement
    ddl = f"CREATE OR REPLACE VIEW {view_name} AS\n{transformed_sql};;"
    
    return ddl

## 3. Table Migration Example

Load table metadata and generate DDL using SQLGlot transformations.

In [100]:
# Load table data
tables_data = load_json_file(f"{EXAMPLE_DATA_PATH}/tables.json")
print(f"Loaded {len(tables_data['tables'])} tables")

# Display first table metadata
print("\nFirst table metadata:")
print(json.dumps(tables_data['tables'][0], indent=2))

Loaded 2 tables

First table metadata:
{
  "database_name": "DATA_MIGRATION_DB",
  "schema_name": "DATA_MIGRATION_SCHEMA",
  "table_name": "EXAMPLE_TABLE_1",
  "table_type": "BASE TABLE",
  "row_count": 0,
  "bytes": 0,
  "created": "2025-01-01 12:00:00.000000-08:00",
  "last_altered": "2025-01-01 12:00:00.000000-08:00",
  "comment": "Example table for testing",
  "columns": [
    {
      "column_name": "ID",
      "data_type": "NUMBER",
      "character_maximum_length": null,
      "numeric_precision": 38,
      "numeric_scale": 0,
      "is_nullable": "NO",
      "column_default": null,
      "comment": "Primary key"
    },
    {
      "column_name": "NAME",
      "data_type": "VARCHAR",
      "character_maximum_length": 255,
      "numeric_precision": null,
      "numeric_scale": null,
      "is_nullable": "YES",
      "column_default": null,
      "comment": "Name field"
    },
    {
      "column_name": "CREATED_AT",
      "data_type": "TIMESTAMP_NTZ",
      "character_maximum_length": null,
      "numeric_precision": null,
      "numeric_scale": null,
      "is_nullable": "YES",
      "column_default": "CURRENT_TIMESTAMP()",
      "comment": "Creation timestamp"
    }
  ]
}

In [101]:
# Generate DDL for all tables
table_ddls = []
for i, table in enumerate(tables_data['tables'], 1):
    ddl = generate_table_ddl(table)
    table_ddls.append(f"-- Statement {i}\n{ddl}")
    
print("Generated table DDLs:")
print("\n".join(table_ddls))

Generated table DDLs:
-- Statement 1
CREATE TABLE IF NOT EXISTS DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.EXAMPLE_TABLE_1 (
  ID NUMBER(38) NOT NULL COMMENT 'Primary key',
  NAME VARCHAR(255) NULL COMMENT 'Name field',
  CREATED_AT TIMESTAMP_NTZ NULL DEFAULT CURRENT_TIMESTAMP() COMMENT 'Creation timestamp'
) COMMENT 'Example table for testing';;
-- Statement 2
CREATE TABLE IF NOT EXISTS DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.EXAMPLE_TABLE_2 (
  USER_ID NUMBER(38) NOT NULL,
  EMAIL VARCHAR(100) NOT NULL COMMENT 'User email address'
) COMMENT 'Second example table';;

## 4. View Migration Example

Load view metadata and transform view definitions using SQLGlot.

In [102]:
# Load view data
views_data = load_json_file(f"{EXAMPLE_DATA_PATH}/views.json")
print(f"Loaded {len(views_data['views'])} views")

# Display first view metadata
print("\nFirst view metadata:")
print(json.dumps(views_data['views'][0], indent=2))

Loaded 3 views

First view metadata:
{
  "database_name": "DATA_MIGRATION_DB",
  "schema_name": "DATA_MIGRATION_SCHEMA",
  "view_name": "ACTIVE_USERS_VIEW",
  "view_definition": "SELECT u.user_id, u.email, u.created_at, p.profile_status FROM users u LEFT JOIN user_profiles p ON u.user_id = p.user_id WHERE u.is_active = true",
  "created": "2025-01-15 10:30:00.000000-08:00",
  "last_altered": "2025-01-20 14:45:00.000000-08:00",
  "comment": "View showing active users with their profile status"
}

In [103]:
# Generate DDL for all views
view_ddls = []
for i, view in enumerate(views_data['views'], 1):
    ddl = generate_view_ddl(view)
    view_ddls.append(f"-- Statement {i}\n{ddl}")
    
print("Generated view DDLs:")
print("\n".join(view_ddls))

Generated view DDLs:
-- Statement 1
CREATE OR REPLACE VIEW DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.ACTIVE_USERS_VIEW AS
SELECT u.user_id, u.email, u.created_at, p.profile_status FROM users AS u LEFT JOIN user_profiles AS p ON u.user_id = p.user_id WHERE u.is_active = TRUE;;
-- Statement 2
CREATE OR REPLACE VIEW DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.SALES_SUMMARY_VIEW AS
SELECT DATE_TRUNC('MONTH', order_date) AS month, product_category, SUM(order_amount) AS total_sales, COUNT(*) AS order_count FROM sales_orders WHERE order_status = 'completed' GROUP BY DATE_TRUNC('MONTH', order_date), product_category;;
-- Statement 3
CREATE OR REPLACE VIEW DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.INVENTORY_STATUS_VIEW AS
SELECT p.product_id, p.product_name, p.category, i.quantity_available, i.last_inventory_update, CASE WHEN i.quantity_available < 10 THEN 'LOW_STOCK' WHEN i.quantity_available = 0 THEN 'OUT_OF_STOCK' ELSE 'IN_STOCK' END AS stock_status FROM products AS p INNER JOIN inventory AS i ON p.product_id = i.product_id;;

## 5. SQL Dialect Transformation Examples

Demonstrate specific SQL transformations between Snowflake and Databricks dialects.

In [104]:
# Example SQL transformations
snowflake_sqls = [
    "SELECT ARRAY_SIZE(arr) FROM table1",
    "SELECT OBJECT_KEYS(obj) FROM table1", 
    "SELECT CURRENT_TIMESTAMP()",
    "SELECT DATE_TRUNC('month', created_at) FROM orders",
    "SELECT HASH(col1, col2) FROM table1"
]

print("SQL Dialect Transformations:")
print("=" * 50)

for sql in snowflake_sqls:
    transformed = transform_sql(sql)
    print(f"Snowflake:  {sql}")
    print(f"Databricks: {transformed}")
    print("-" * 50)

SQL Dialect Transformations:
==================================================
Snowflake:  SELECT ARRAY_SIZE(arr) FROM table1
Databricks: SELECT SIZE(arr) FROM table1
--------------------------------------------------
Snowflake:  SELECT OBJECT_KEYS(obj) FROM table1
Databricks: SELECT OBJECT_KEYS(obj) FROM table1
--------------------------------------------------
Snowflake:  SELECT CURRENT_TIMESTAMP()
Databricks: SELECT CURRENT_TIMESTAMP()
--------------------------------------------------
Snowflake:  SELECT DATE_TRUNC('month', created_at) FROM orders
Databricks: SELECT DATE_TRUNC('MONTH', created_at) FROM orders
--------------------------------------------------
Snowflake:  SELECT HASH(col1, col2) FROM table1
Databricks: SELECT HASH(col1, col2) FROM table1
--------------------------------------------------

## 6. Advanced SQLGlot Features

Explore SQLGlot's AST parsing and manipulation capabilities.

In [105]:
# Parse SQL into AST
sql = "SELECT id, name FROM users WHERE active = true"
parsed = sqlglot.parse_one(sql, dialect=SOURCE_DIALECT)

print(f"Original SQL: {sql}")
print(f"Parsed AST: {parsed}")
print(f"AST type: {type(parsed)}")

# Transform to target dialect
transformed = parsed.sql(dialect=TARGET_DIALECT)
print(f"Transformed: {transformed}")

# Access AST components
print(f"\nSelect statement columns:")
for col in parsed.find_all(sqlglot.exp.Column):
    print(f"  - {col}")

Original SQL: SELECT id, name FROM users WHERE active = true
Parsed AST: SELECT id, name FROM users WHERE active = TRUE
AST type: <class 'sqlglot.expressions.Select'>
Transformed: SELECT id, name FROM users WHERE active = TRUE

Select statement columns:
  - id
  - name
  - active

## 7. Batch Processing Example

Process multiple database objects and generate complete migration scripts.

In [106]:
def generate_migration_script(object_type: str) -> str:
    """Generate complete migration script for an object type."""
    
    file_path = f"{EXAMPLE_DATA_PATH}/{object_type}.json"
    if not os.path.exists(file_path):
        return f"-- {object_type.upper()} - File not found: {file_path}"
    
    data = load_json_file(file_path)
    objects = data.get(object_type, [])
    
    if not objects:
        return f"-- {object_type.upper()} - No objects found"
    
    script = [f"-- {object_type.upper()} DDL - Generated by SQLGlot Migration", "-- Generated: sql_files", ""]
    
    for i, obj in enumerate(objects, 1):
        script.append(f"-- Statement {i}")
        
        if object_type == 'tables':
            ddl = generate_table_ddl(obj)
        elif object_type == 'views':
            ddl = generate_view_ddl(obj)
        else:
            ddl = f"-- {object_type} processing not implemented yet"
            
        script.append(ddl)
        script.append("")
    
    return "\n".join(script)

# Generate scripts for different object types
object_types = ['tables', 'views', 'schemas', 'databases']

for obj_type in object_types:
    script = generate_migration_script(obj_type)
    print(f"\n{obj_type.upper()} MIGRATION SCRIPT:")
    print("=" * 50)
    print(script[:500] + "..." if len(script) > 500 else script)

TABLES MIGRATION SCRIPT:
==================================================
-- TABLES DDL - Generated by SQLGlot Migration
-- Generated: sql_files

-- Statement 1
CREATE TABLE IF NOT EXISTS DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.EXAMPLE_TABLE_1 (
  ID NUMBER(38) NOT NULL COMMENT 'Primary key',
  NAME VARCHAR(255) NULL COMMENT 'Name field',
  CREATED_AT TIMESTAMP_NTZ NULL DEFAULT CURRENT_TIMESTAMP() COMMENT 'Creation timestamp'
) COMMENT 'Example table for testing';;

-- Statement 2
CREATE TABLE IF NOT EXISTS DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.EXAMPLE_TABLE_2 (
  U...

VIEWS MIGRATION SCRIPT:
==================================================
-- VIEWS DDL - Generated by SQLGlot Migration
-- Generated: sql_files

-- Statement 1
CREATE OR REPLACE VIEW DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.ACTIVE_USERS_VIEW AS
SELECT u.user_id, u.email, u.created_at, p.profile_status FROM users AS u LEFT JOIN user_profiles AS p ON u.user_id = p.user_id WHERE u.is_active = TRUE;;

-- Statement 2
CREATE OR REPLACE VIEW DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.SALES_SUMMARY_VIEW AS
SELECT DATE_TRUNC('MONTH', order_date) AS month, product_category, SUM(ord...

SCHEMAS MIGRATION SCRIPT:
==================================================
-- SCHEMAS DDL - Generated by SQLGlot Migration
-- Generated: sql_files

-- Statement 1
-- schemas processing not implemented yet

-- Statement 2
-- schemas processing not implemented yet

-- Statement 3
-- schemas processing not implemented yet


DATABASES MIGRATION SCRIPT:
==================================================
-- DATABASES DDL - Generated by SQLGlot Migration
-- Generated: sql_files

-- Statement 1
-- databases processing not implemented yet

## 8. Comparison with LLM Approach

Compare the SQLGlot approach with the existing LLM-based approach.

In [107]:
# Comprehensive LLM vs SQLGlot Comparison for ALL Artifacts
# This compares SQLGlot vs LLM for ALL database object types

def generate_object_ddl(object_type, metadata):
    """Generate DDL for any object type using SQLGlot approach."""
    if object_type == "database":
        ddl = f"CREATE DATABASE IF NOT EXISTS {metadata['database_name']}"
        if metadata.get("comment"):
            ddl += f" COMMENT = '{metadata['comment']}'"
        return ddl + ";"
    
    elif object_type == "schema":
        ddl = f"CREATE SCHEMA IF NOT EXISTS {metadata['database_name']}.{metadata['schema_name']}"
        if metadata.get("comment"):
            ddl += f" COMMENT = '{metadata['comment']}'"
        return ddl + ";"
    
    elif object_type == "sequence":
        ddl = f"CREATE SEQUENCE IF NOT EXISTS {metadata['database_name']}.{metadata['schema_name']}.{metadata['sequence_name']}"
        ddl += f" START = {metadata['start_value']} INCREMENT = {metadata['increment']}"
        if metadata.get("comment"):
            ddl += f" COMMENT = '{metadata['comment']}'"
        return ddl + ";"
    
    elif object_type == "table":
        return generate_table_ddl(metadata)
    
    elif object_type == "view":
        return generate_view_ddl(metadata)
    
    elif object_type == "procedure":
        definition = metadata['procedure_definition']
        sql_start = definition.find("$$") + 2
        sql_end = definition.rfind("$$")
        if sql_start > 1 and sql_end > sql_start:
            sql_body = definition[sql_start:sql_end].strip()
            transformed_sql = transform_sql(sql_body)
            return definition[:sql_start] + transformed_sql + definition[sql_end:]
        return definition
    
    elif object_type == "function":
        definition = metadata['function_definition']
        sql_start = definition.find("$$") + 2
        sql_end = definition.rfind("$$")
        if sql_start > 1 and sql_end > sql_start:
            sql_body = definition[sql_start:sql_end].strip()
            transformed_sql = transform_sql(sql_body)
            return definition[:sql_start] + transformed_sql + definition[sql_end:]
        return definition
    
    else:
        return f"-- {object_type.upper()} DDL generation not implemented"

def run_llm_comparison(object_type, metadata):
    """Run LLM comparison for a single object."""
    try:
        from nodes.database_translation import translate_databases
        from nodes.schemas_translation import translate_schemas
        from nodes.sequences_translation import translate_sequences
        from nodes.tables_translation import translate_tables
        from nodes.views_translation import translate_views
        from nodes.procedures_translation import translate_procedures
        from nodes.udfs_translation import translate_udfs
        from utils.types import ArtifactBatch
        
        batch = ArtifactBatch(
            artifact_type=object_type,
            items=[json.dumps(metadata)],
            context={"source_db": SOURCE_DIALECT, "target_db": TARGET_DIALECT}
        )
        
        if object_type == "database":
            result = translate_databases(batch)
        elif object_type == "schema":
            result = translate_schemas(batch)
        elif object_type == "sequence":
            result = translate_sequences(batch)
        elif object_type == "table":
            result = translate_tables(batch)
        elif object_type == "view":
            result = translate_views(batch)
        elif object_type == "procedure":
            result = translate_procedures(batch)
        elif object_type == "function":
            result = translate_udfs(batch)
        else:
            return f"-- {object_type.upper()} LLM translation not implemented"
        
        llm_output = "\n\n".join(result.results)
        if result.errors:
            llm_output += f"\n\n-- ERRORS:\n\n" + "\n\n".join(result.errors)
        
        return llm_output
    
    except Exception as e:
        return f"-- LLM Error: {str(e)}\n-- Make sure Databricks credentials are configured"

print("‚úÖ Comprehensive comparison functions loaded")
print("Ready to compare ALL database object types!")

‚úÖ Comprehensive comparison functions loaded
Ready to compare ALL database object types!

## 9. Performance and Reliability Benefits

SQLGlot provides several advantages over LLM-based approaches:

### Advantages:
- **Deterministic Results**: Same input always produces same output
- **No API Dependencies**: Works offline, no token limits or costs
- **Fast Processing**: Pure Python, no network calls
- **Precise Transformations**: Exact dialect mappings
- **Error Handling**: Clear parsing errors vs LLM hallucinations
- **Extensible**: Easy to add custom transformation rules

### Limitations:
- **No Semantic Understanding**: Can't infer intent like LLMs can
- **Dialect Coverage**: Limited to supported SQL dialects
- **Complex Logic**: May need custom rules for complex transformations

### Use Cases:
- **DDL Migration**: Perfect for table/view/procedure migrations
- **SQL Standardization**: Converting between SQL dialects
- **Syntax Validation**: Ensuring SQL is valid in target dialect
- **Batch Processing**: High-volume, deterministic transformations

## üîÑ Comprehensive LLM vs SQLGlot Comparison for ALL Artifacts

Compare the same inputs processed by both approaches for **ALL 7 database object types**:
- **LLM**: Uses Databricks Llama model via LangChain
- **SQLGlot**: Pure Python SQL transformation

**Processing**: Databases, Schemas, Sequences, Tables, Views, Procedures, Functions

In [108]:
# Set up LLM infrastructure for ALL artifact types
import os
import sys
sys.path.append("../translation_graph")

# Load environment variables
from dotenv import load_dotenv
load_dotenv("../translation_graph/.env")

# Import LLM components for all artifact types
from nodes.database_translation import translate_databases
from nodes.schemas_translation import translate_schemas
from nodes.sequences_translation import translate_sequences
from nodes.tables_translation import translate_tables
from nodes.views_translation import translate_views
from nodes.procedures_translation import translate_procedures
from nodes.udfs_translation import translate_udfs
from utils.types import ArtifactBatch

print("‚úÖ LLM infrastructure loaded for ALL artifact types")

‚úÖ LLM infrastructure loaded for ALL artifact types

In [109]:
# Comprehensive Comparison: Process ALL database objects
# Object types to process: (filename, object_type, json_key)
object_types = [
    ("databases", "database", "databases"),
    ("schemas", "schema", "schemas"),
    ("sequences", "sequence", "sequences"),
    ("tables", "table", "tables"),
    ("views", "view", "views"),
    ("procedures", "procedure", "procedures"),
    ("udfs", "function", "functions")  # Note: JSON key is "functions" not "udfs"
]

print("üîÑ COMPREHENSIVE SQLGLOT vs LLM COMPARISON")
print("=" * 80)
print(f"Configuration: {SOURCE_DIALECT} ‚Üí {TARGET_DIALECT}")
print(f"Processing ALL database objects from example data")
print("=" * 80)
print()

total_objects = 0
successful_comparisons = 0
identical_results = 0

# Process each object type
for json_file, object_type, json_key in object_types:
    try:
        # Load data
        with open(f"{EXAMPLE_DATA_PATH}/{json_file}.json", "r") as f:
            data = json.load(f)
        
        # Get items using the correct JSON key
        items = data.get(json_key, [])
        
        if not items:
            print(f"‚ö†Ô∏è  {object_type.upper()}: No data found")
            continue
        
        print(f"üóÑÔ∏è  {object_type.upper()} ({len(items)} objects)")
        print("-" * 60)
        
        # Process each item
        for i, metadata in enumerate(items, 1):
            print(f"  Object {i}: Processing...")
            
            # Get object name for display
            if object_type == "database":
                obj_name = metadata.get("database_name", "unknown")
            elif object_type in ["schema", "sequence", "table", "view", "procedure", "function"]:
                db = metadata.get("database_name", "")
                schema = metadata.get("schema_name", "")
                name = metadata.get(f"{object_type}_name", "")
                obj_name = f"{db}.{schema}.{name}" if db and schema else name
            else:
                obj_name = "unknown"
            
            # SQLGlot approach
            sqlglot_result = generate_object_ddl(object_type, metadata)
            
            # LLM approach
            llm_result = run_llm_comparison(object_type, metadata)
            
            # Display results (full, no truncation)
            print(f"    üìç {obj_name}")
            print("    ü§ñ SQLGlot Result:")
            print("    " + "-" * 40)
            for line in sqlglot_result.split('\n'):
                if line.strip():
                    print(f"    {line}")
            print()
            print("    ü§ñ LLM Result:")
            print("    " + "-" * 40)
            for line in llm_result.split('\n'):
                if line.strip():
                    print(f"    {line}")
            print()
            
            # Metrics
            sqlglot_len = len(sqlglot_result)
            llm_len = len(llm_result)
            is_identical = sqlglot_result.strip() == llm_result.strip()
            
            print("    üìä METRICS:")
            print(f"      SQLGlot length: {sqlglot_len} characters")
            print(f"      LLM length: {llm_len} characters")
            print(f"      Results identical: {is_identical}")
            print()
            
            total_objects += 1
            successful_comparisons += 1
            if is_identical:
                identical_results += 1
    
    except Exception as e:
        print(f"‚ùå Error processing {object_type}: {e}")
        continue

# Summary
print("=" * 80)
print("üìà COMPARISON SUMMARY")
print("=" * 80)
print(f"Total objects processed: {total_objects}")
print(f"Successful comparisons: {successful_comparisons}")
print(f"Identical results: {identical_results}")
if successful_comparisons > 0:
    identical_percentage = (identical_results / successful_comparisons) * 100
    print(f"Identical percentage: {identical_percentage:.1f}%")
print()
print("üéØ KEY FINDINGS:")
print("  ‚Ä¢ SQLGlot: Deterministic, fast, zero-cost, syntax-focused transformations")
print("  ‚Ä¢ LLM: Semantic understanding, variable results, API costs, context-aware")
print("  ‚Ä¢ Differences: Both produce valid DDL with different approaches (syntax vs semantic)")
print("  ‚Ä¢ Coverage: Both handle ALL 7 object types completely")
print("  ‚Ä¢ Recommendation: SQLGlot for bulk migration, LLM for complex business logic")

üîÑ COMPREHENSIVE SQLGLOT vs LLM COMPARISON
================================================================================
Configuration: snowflake ‚Üí databricks
Processing ALL database objects from example data
================================================================================

üóÑÔ∏è  DATABASE (1 objects)
------------------------------------------------------------
  Object 1: Processing...
    üìç ANALYTICS_DB
    ü§ñ SQLGlot Result:
    ----------------------------------------
    CREATE DATABASE IF NOT EXISTS ANALYTICS_DB COMMENT = 'Primary analytics database for business intelligence';

    ü§ñ LLM Result:
    ----------------------------------------
    ```sql
    CREATE CATALOG IF NOT EXISTS ANALYTICS_DB COMMENT 'Primary analytics database for business intelligence';
    ```

    üìä METRICS:
      SQLGlot length: 108 characters
      LLM length: 116 characters
      Results identical: False

üóÑÔ∏è  SCHEMA (3 objects)
------------------------------------------------------------
  Object 1: Processing...
    üìç DATA_MIGRATION_DB.BRONZE_LAYER.BRONZE_LAYER
    ü§ñ SQLGlot Result:
    ----------------------------------------
    CREATE SCHEMA IF NOT EXISTS DATA_MIGRATION_DB.BRONZE_LAYER COMMENT = 'Bronze layer schema for raw data ingestion';

    ü§ñ LLM Result:
    ----------------------------------------
    ```sql
    CREATE SCHEMA IF NOT EXISTS DATA_MIGRATION_DB.BRONZE_LAYER
    COMMENT 'Bronze layer schema for raw data ingestion';
    ```

    üìä METRICS:
      SQLGlot length: 114 characters
      LLM length: 124 characters
      Results identical: False

  Object 2: Processing...
    üìç DATA_MIGRATION_DB.SILVER_LAYER.SILVER_LAYER
    ü§ñ SQLGlot Result:
    ----------------------------------------
    CREATE SCHEMA IF NOT EXISTS DATA_MIGRATION_DB.SILVER_LAYER COMMENT = 'Silver layer schema for cleaned and transformed data';

    ü§ñ LLM Result:
    ----------------------------------------
    ```sql
    CREATE SCHEMA IF NOT EXISTS DATA_MIGRATION_DB.SILVER_LAYER COMMENT 'Silver layer schema for cleaned and transformed data';
    ALTER SCHEMA DATA_MIGRATION_DB.SILVER_LAYER SET OWNER TO `DATA_ENGINEER_ROLE`;
    ```

    üìä METRICS:
      SQLGlot length: 124 characters
      LLM length: 212 characters
      Results identical: False

  Object 3: Processing...
    üìç DATA_MIGRATION_DB.GOLD_LAYER.GOLD_LAYER
    ü§ñ SQLGlot Result:
    ----------------------------------------
    CREATE SCHEMA IF NOT EXISTS DATA_MIGRATION_DB.GOLD_LAYER COMMENT = 'Gold layer schema for business-ready aggregated data';

    ü§ñ LLM Result:
    ----------------------------------------
    ```sql
    CREATE SCHEMA IF NOT EXISTS DATA_MIGRATION_DB.GOLD_LAYER
    COMMENT 'Gold layer schema for business-ready aggregated data';
    ```

    üìä METRICS:
      SQLGlot length: 122 characters
      LLM length: 132 characters
      Results identical: False

üóÑÔ∏è  SEQUENCE (2 objects)
------------------------------------------------------------
  Object 1: Processing...
    üìç DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.USER_ID_SEQ
    ü§ñ SQLGlot Result:
    ----------------------------------------
    CREATE SEQUENCE IF NOT EXISTS DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.USER_ID_SEQ START = 1000 INCREMENT = 1 COMMENT = 'Sequence for generating user IDs';

    ü§ñ LLM Result:
    ----------------------------------------
    ### Analysis of Sequence Usage and Requirements
    The provided sequence metadata is for `USER_ID_SEQ` in Snowflake, which is used to generate unique IDs for users. The sequence starts at 1000 and increments by 1. The key requirements for the equivalent Databricks implementation are:
    * Generate unique, incrementing IDs starting from a specified value (1000 in this case)
    * Ensure IDs are sequential and gap-free is not strictly necessary, as long as they are unique and incrementing
    ### Recommended Databricks Alternative Implementation
    The recommended approach for replacing the Snowflake sequence in Databricks is to use an **identity column** (`GENERATED ALWAYS AS IDENTITY`). This is because identity columns in Databricks serve a similar purpose to sequences in Snowflake, providing a straightforward way to generate auto-incrementing IDs.
    ### Sample SQL for Identity Columns
    To create a table with an identity column equivalent to the `USER_ID_SEQ` sequence in Databricks, you can use the following SQL:
    ```sql
    CREATE TABLE users (
      user_id BIGINT GENERATED ALWAYS AS IDENTITY (START WITH 1000 INCREMENT BY 1),
      -- other columns...
      PRIMARY KEY (user_id)
    );
    ```
    Alternatively, if you need more control over the ID generation or if you're dealing with a distributed environment where identity columns might not be suitable due to potential gaps or specific requirements, you could consider using **UUIDs** or **application-generated IDs**. However, for a straightforward auto-incrementing ID, an identity column is the most direct equivalent.
    ### Migration Notes and Behavioral Differences
    1. **Gaps in IDs**: Unlike sequences in Snowflake, identity columns in Databricks might have gaps under certain circumstances (e.g., transaction rollbacks, concurrent inserts). If gap-free sequences are critical, consider using application logic to manage IDs, though this is generally less efficient.
    2. **Distribution and Scalability**: In a distributed environment, identity columns are generally safe, but be aware that very high concurrency or specific failure scenarios might lead to non-sequential or gapped IDs.
    3. **Starting Value and Increment**: The `START WITH` and `INCREMENT BY` clauses in the identity column definition allow you to match the behavior of the Snowflake sequence closely.
    4. **Data Type**: Ensure that the data type of the identity column is sufficient to hold the maximum expected value. BIGINT is typically a safe choice for most applications.
    5. **Primary Key**: While not directly related to sequences, it's common to use auto-incrementing IDs as primary keys. The example SQL includes defining `user_id` as the primary key.
    ### Example Use Case
    Inserting a new user into the `users` table without specifying `user_id` will automatically generate a new ID:
    ```sql
    INSERT INTO users (/* other columns */) VALUES (/* other column values */);
    ```
    After the insert, `user_id` will be populated with a unique, auto-incrementing value starting from 1000.
    ### Additional Considerations
    - **Testing**: Thoroughly test the new implementation to ensure it meets the application's requirements and performs as expected under various scenarios.
    - **Data Migration**: If migrating existing data, consider how to handle IDs for existing records. You might need to adjust the `START WITH` value based on the maximum ID in your existing data.
    By following this guidance, you can effectively migrate your Snowflake sequence to a suitable alternative in Databricks, ensuring continuity and reliability in your ID generation process.

    üìä METRICS:
      SQLGlot length: 154 characters
      LLM length: 3569 characters
      Results identical: False

  Object 2: Processing...
    üìç DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.ORDER_NUMBER_SEQ
    ü§ñ SQLGlot Result:
    ----------------------------------------
    CREATE SEQUENCE IF NOT EXISTS DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.ORDER_NUMBER_SEQ START = 100000 INCREMENT = 1 COMMENT = 'Sequence for generating order numbers';

    ü§ñ LLM Result:
    ----------------------------------------
    ### Analysis of Sequence Usage and Requirements
    The provided sequence metadata is for `ORDER_NUMBER_SEQ` in Snowflake, which is used to generate order numbers. The key characteristics of this sequence are:
    * `start_value`: 100000
    * `increment`: 1
    This indicates that the sequence is designed to generate a continuous, incrementing series of numbers starting from 100000. The sequence is likely used as a primary or unique identifier for orders in the database.
    ### Recommended Databricks Alternative Implementation
    Given that Databricks does not directly support sequences like Snowflake, the recommended alternative is to use an **identity column** (`GENERATED ALWAYS AS IDENTITY`) in Databricks. This will provide a similar auto-incrementing functionality.
    ### Sample SQL for Identity Columns
    To create a table with an identity column in Databricks that mimics the behavior of `ORDER_NUMBER_SEQ`, you can use the following SQL:
    ```sql
    CREATE TABLE orders (
      order_number BIGINT GENERATED ALWAYS AS IDENTITY (START WITH 100000 INCREMENT BY 1),
      -- other columns...
      order_date DATE,
      customer_id INT,
      total DECIMAL(10, 2)
    );
    ```
    ### Migration Notes and Behavioral Differences
    1. **Identity Column Behavior**: In Databricks, identity columns are used within the context of a table. Unlike Snowflake sequences, which can be used independently, identity columns in Databricks are tied to the table they are defined in. This means you cannot reuse the same identity column across multiple tables.
    2. **Gaps in Identity Values**: Databricks, like many other databases, may introduce gaps in identity values under certain circumstances (e.g., during rollbacks or when using certain isolation levels). Snowflake sequences can also have gaps due to their caching behavior, but the circumstances differ.
    3. **UUID Alternative**: If your application requires a globally unique identifier or if you're dealing with distributed systems, consider using UUIDs instead. Databricks supports generating UUIDs using functions like `uuid()`. However, UUIDs are not incrementing and might not be suitable if you need a continuous, incrementing series.
    4. **Application-Generated IDs**: Another approach is to generate IDs at the application level. This gives you full control over the ID generation logic but requires careful implementation to ensure uniqueness and continuity.
    5. **Migration Script Considerations**: When migrating from Snowflake to Databricks, you'll need to adjust your DDL scripts to create tables with identity columns instead of relying on sequences. You may also need to modify your DML scripts to accommodate the change from using `NEXTVAL` for sequences to relying on the identity column's auto-increment behavior.
    ### Example Migration Steps
    1. **Identify Sequence Usage**: Review your Snowflake code to identify all places where `ORDER_NUMBER_SEQ` is used, typically with `NEXTVAL` or `CURRVAL`.
    2. **Modify DDL**: Update your table creation scripts to use identity columns as shown in the sample SQL.
    3. **Adjust DML**: Modify your insert statements to no longer explicitly insert into the identity column. Databricks will automatically generate the next value.
    ```sql
    -- Before (Snowflake)
    INSERT INTO orders (order_number, order_date, customer_id, total)
    VALUES (ORDER_NUMBER_SEQ.NEXTVAL, '2023-01-01', 123, 100.00);
    -- After (Databricks)
    INSERT INTO orders (order_date, customer_id, total)
    VALUES ('2023-01-01', 123, 100.00);
    ```
    By following these steps and understanding the differences between Snowflake sequences and Databricks identity columns, you can effectively migrate your database schema and application logic.

    üìä METRICS:
      SQLGlot length: 166 characters
      LLM length: 3661 characters
      Results identical: False

üóÑÔ∏è  TABLE (2 objects)
------------------------------------------------------------
  Object 1: Processing...
    üìç DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.EXAMPLE_TABLE_1
    ü§ñ SQLGlot Result:
    ----------------------------------------
    CREATE TABLE IF NOT EXISTS DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.EXAMPLE_TABLE_1 (
      ID NUMBER(38) NOT NULL COMMENT 'Primary key',
      NAME VARCHAR(255) NULL COMMENT 'Name field',
      CREATED_AT TIMESTAMP_NTZ NULL DEFAULT CURRENT_TIMESTAMP() COMMENT 'Creation timestamp'
    ) COMMENT 'Example table for testing';;

    ü§ñ LLM Result:
    ----------------------------------------
    ```sql
    CREATE TABLE IF NOT EXISTS DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.EXAMPLE_TABLE_1 (
      ID BIGINT NOT NULL COMMENT 'Primary key',
      NAME VARCHAR(255) COMMENT 'Name field',
      CREATED_AT TIMESTAMP COMMENT 'Creation timestamp' DEFAULT CURRENT_TIMESTAMP()
    ) COMMENT 'Example table for testing';
    ```

    üìä METRICS:
      SQLGlot length: 308 characters
      LLM length: 300 characters
      Results identical: False

  Object 2: Processing...
    üìç DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.EXAMPLE_TABLE_2
    ü§ñ SQLGlot Result:
    ----------------------------------------
    CREATE TABLE IF NOT EXISTS DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.EXAMPLE_TABLE_2 (
      USER_ID NUMBER(38) NOT NULL,
      EMAIL VARCHAR(100) NOT NULL COMMENT 'User email address'
    ) COMMENT 'Second example table';;

    ü§ñ LLM Result:
    ----------------------------------------
    ```sql
    CREATE TABLE IF NOT EXISTS DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.EXAMPLE_TABLE_2 (
      USER_ID BIGINT NOT NULL,
      EMAIL VARCHAR(100) NOT NULL COMMENT 'User email address'
    ) COMMENT 'Second example table';
    ```

    üìä METRICS:
      SQLGlot length: 209 characters
      LLM length: 215 characters
      Results identical: False

üóÑÔ∏è  VIEW (3 objects)
------------------------------------------------------------
  Object 1: Processing...
    üìç DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.ACTIVE_USERS_VIEW
    ü§ñ SQLGlot Result:
    ----------------------------------------
    CREATE OR REPLACE VIEW DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.ACTIVE_USERS_VIEW AS
    SELECT u.user_id, u.email, u.created_at, p.profile_status FROM users AS u LEFT JOIN user_profiles AS p ON u.user_id = p.user_id WHERE u.is_active = TRUE;;

    ü§ñ LLM Result:
    ----------------------------------------
    ```sql
    CREATE VIEW users_with_profiles AS
    SELECT u.user_id, u.email, u.created_at, p.profile_status
    FROM users u
    LEFT JOIN user_profiles p
    ON u.user_id = p.user_id
    WHERE u.is_active = true;
    ```

    üìä METRICS:
      SQLGlot length: 238 characters
      LLM length: 198 characters
      Results identical: False

  Object 2: Processing...
    üìç DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.SALES_SUMMARY_VIEW
    ü§ñ SQLGlot Result:
    ----------------------------------------
    CREATE OR REPLACE VIEW DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.SALES_SUMMARY_VIEW AS
    SELECT DATE_TRUNC('MONTH', order_date) AS month, product_category, SUM(order_amount) AS total_sales, COUNT(*) AS order_count FROM sales_orders WHERE order_status = 'completed' GROUP BY DATE_TRUNC('MONTH', order_date), product_category;;

    ü§ñ LLM Result:
    ----------------------------------------
    ```sql
    CREATE OR REPLACE VIEW sales_order_summary AS
    SELECT
      DATE_TRUNC('month', order_date) as month,
      product_category,
      SUM(order_amount) as total_sales,
      COUNT(*) as order_count
    FROM
      sales_orders
    WHERE
      order_status = 'completed'
    GROUP BY
      1,
      product_category;
    ```

    üìä METRICS:
      SQLGlot length: 321 characters
      LLM length: 289 characters
      Results identical: False

  Object 3: Processing...
    üìç DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.INVENTORY_STATUS_VIEW
    ü§ñ SQLGlot Result:
    ----------------------------------------
    CREATE OR REPLACE VIEW DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.INVENTORY_STATUS_VIEW AS
    SELECT p.product_id, p.product_name, p.category, i.quantity_available, i.last_inventory_update, CASE WHEN i.quantity_available < 10 THEN 'LOW_STOCK' WHEN i.quantity_available = 0 THEN 'OUT_OF_STOCK' ELSE 'IN_STOCK' END AS stock_status FROM products AS p INNER JOIN inventory AS i ON p.product_id = i.product_id;;

    ü§ñ LLM Result:
    ----------------------------------------
    ```sql
    CREATE OR REPLACE VIEW product_stock_status AS
    SELECT
      p.product_id,
      p.product_name,
      p.category,
      i.quantity_available,
      i.last_inventory_update,
      CASE
        WHEN i.quantity_available < 10 THEN 'LOW_STOCK'
        WHEN i.quantity_available = 0 THEN 'OUT_OF_STOCK'
        ELSE 'IN_STOCK'
      END AS stock_status
    FROM products p
    INNER JOIN inventory i ON p.product_id = i.product_id;
    ```

    üìä METRICS:
      SQLGlot length: 400 characters
      LLM length: 394 characters
      Results identical: False

üóÑÔ∏è  PROCEDURE (2 objects)
------------------------------------------------------------
  Object 1: Processing...
    üìç DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.UPDATE_USER_STATUS
    ü§ñ SQLGlot Result:
    ----------------------------------------
    CREATE OR REPLACE PROCEDURE UPDATE_USER_STATUS(USER_ID NUMBER, NEW_STATUS VARCHAR)
    RETURNS VARCHAR
    LANGUAGE SQL
    AS
    $$-- Error transforming SQL: Invalid expression / Unexpected token. Line 6, Col: 43.
       status = NEW_STATUS,
          updated_at = CURRENT_TIMESTAMP()
      WHERE user_id = USER_ID;
      RETURN 'User status updated successfully';
    -- Original: UPDATE users
      SET status = NEW_STATUS,
          updated_at = CURRENT_TIMESTAMP()
      WHERE user_id = USER_ID;
      RETURN 'User status updated successfully';$$

    ü§ñ LLM Result:
    ----------------------------------------
    ```sql
    CREATE PROCEDURE DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.UPDATE_USER_STATUS(USER_ID BIGINT, NEW_STATUS STRING)
    COMMENT 'Stored procedure to update user status'
    RETURNS STRING
    LANGUAGE SQL
    AS
    BEGIN
      UPDATE users
      SET status = NEW_STATUS,
          updated_at = CURRENT_TIMESTAMP()
      WHERE user_id = USER_ID;
      RETURN 'User status updated successfully';
    END;
    ```

    üìä METRICS:
      SQLGlot length: 514 characters
      LLM length: 368 characters
      Results identical: False

  Object 2: Processing...
    üìç DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.CALCULATE_MONTHLY_REVENUE
    ü§ñ SQLGlot Result:
    ----------------------------------------
    CREATE OR REPLACE PROCEDURE CALCULATE_MONTHLY_REVENUE(TARGET_MONTH DATE)
    RETURNS TABLE(monthly_revenue NUMBER, order_count NUMBER)
    LANGUAGE SQL
    AS
    $$SELECT SUM(order_amount) AS monthly_revenue, COUNT(*) AS order_count FROM sales_orders WHERE DATE_TRUNC('MONTH', order_date) = DATE_TRUNC('MONTH', TARGET_MONTH) AND order_status = 'completed'$$

    ü§ñ LLM Result:
    ----------------------------------------
    ```sql
    CREATE PROCEDURE DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.CALCULATE_MONTHLY_REVENUE(TARGET_MONTH DATE)
    RETURNS TABLE(monthly_revenue BIGINT, order_count BIGINT)
    LANGUAGE SQL
    COMMENT 'Procedure to calculate monthly revenue metrics'
    AS
    $$
      SELECT
        SUM(order_amount) as monthly_revenue,
        COUNT(*) as order_count
      FROM sales_orders
      WHERE DATE_TRUNC('month', order_date) = DATE_TRUNC('month', TARGET_MONTH)
        AND order_status = 'completed';
    $$;
    ```

    üìä METRICS:
      SQLGlot length: 342 characters
      LLM length: 461 characters
      Results identical: False

üóÑÔ∏è  FUNCTION (3 objects)
------------------------------------------------------------
  Object 1: Processing...
    üìç DATA_MIGRATION_DB.DATA_MIGRATION_SCHEMA.CALCULATE_DISCOUNT
    ü§ñ SQLGlot Result:
    ----------------------------------------
    CREATE OR REPLACE FUNCTION CALCULATE_DISCOUNT(price NUMBER, discount_percentage NUMBER)
    RETURNS NUMBER
    LANGUAGE SQL
    AS
    $$price * (1 - discount_percentage / 100)$$

    ü§ñ LLM Result:
    ----------------------------------------
    ```sql
    CREATE FUNCTION DATA_MIGRATION_DB.CALCULATE_DISCOUNT(price DOUBLE, discount_percentage DOUBLE)
    RETURNS DOUBLE
    COMMENT 'Function to calculate discounted price'
    AS
    RETURN price * (1 - discount_percentage / 100);
    ```


In [110]:
# Note: Comprehensive comparison for ALL artifacts is in the previous cell
# The comparison processes all 7 object types: databases, schemas, sequences, tables, views, procedures, functions
# Run the previous cell to see the full comparison results

In [111]:
# All comparison logic is in cell 23 above
# That cell processes ALL artifacts and shows comprehensive results

In [112]:
# Comprehensive comparison results are displayed in cell 23 above
# That cell shows side-by-side comparison for ALL 16 database objects:
# - 1 database
# - 3 schemas  
# - 2 sequences
# - 2 tables
# - 3 views
# - 2 procedures
# - 3 functions
#
# Each object shows:
# - Full SQLGlot result (no truncation)
# - Full LLM result (no truncation)
# - Metrics (length, identical check)
# - Final summary statistics

## üìà Key Differences

### ü§ñ LLM Approach:
- **Pros**: Semantic understanding, handles complex logic
- **Cons**: Variable results, API costs, hallucinations possible
- **Requirements**: Databricks endpoint, API keys, network

### üîÑ SQLGlot Approach:
- **Pros**: Deterministic, fast, free, offline
- **Cons**: Syntax-only, no semantic understanding
- **Requirements**: None (pure Python)

### üéØ Best Use Cases:
- **SQLGlot**: DDL migration, syntax conversion, batch processing
- **LLM**: Complex transformations, schema design, edge cases
- **Hybrid**: SQLGlot for 90% + LLM for complex cases